
<div *ngIf="contents">
    <h2><span jhiTranslate="gatewayApp.contents.detail.title">Contents</span> {{contents.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.contents.title">Title</span></dt>
        <dd>
            <span>{{contents.title}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contents.desc">Desc</span></dt>
        <dd>
            <span>{{contents.desc}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contents.owner">Owner</span></dt>
        <dd>
            <div *ngIf="contents.owner">
                <a [routerLink]="['/owner', contents.owner?.id]">{{contents.owner?.login}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contents/'+ contents.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
